python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart
seaborn
imblearn


##-e .
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy